<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
</head>

<body>
    <div id="app">
        <div>v-model를 통해 양방향 바인딩</div>
        <div>
            One : <input type="radio" value="1" v-model="picked"> <br>
            Two : <input type="radio" value="2" v-model="picked"> <br>
            Three : <input type="radio" value="3" v-model="picked"> <br>
            Four : <input type="radio" value="4" v-model="picked"> <br>
        </div>
        <div>
            {{picked}}
        </div>
    </div>
    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                picked: []
            }
        });
    </script>
</body>

</html>